@media print {
    body{
        margin:0px;
        background:transparent;
    }
    .page{
        border:none !important;
        page-break-after: avoid !important;
        page-break-inside: avoid !important;
        clear: none !important;
        margin:0px !important;
    }
    .image-upload{
        display:none;
    }
    .photos .photo {
        border: none !important;
    }
}
html{
    font-size: 200%;
}
.no-letter-spacing{
    letter-spacing: 0px !important;
}

.page{
    page-break-after: always;
    page-break-inside: avoid;
    clear:both;
    font-family: 'Ebrima';
    font-weight: normal;
    font-style: normal;
    background-color: #ffffff;
}
.html-preview{
    width: 22in;
}
.photos{
    padding: 30px 0px 0px 120px;
}
.photos .photo{
    padding: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 880px;
    height: 660px;
    margin: 20px;
    border: 2px solid #c7c7c7;
    border-style: dashed;
}
.photos .photo .background{
    height: 100%;
    width: 100%;
}
.photos .photo img{
    max-width: 880px;
    max-height: 660px;
}
section{
    background-color: #ffffff;
}
.page{
    width: 100%;
    height: 17in;
    margin-bottom: 15px;
    border: 2px solid #000000;
    position: relative;
}
.page ol li{
    padding: 10px 0px;
}
.page .title{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 60px;
    line-height: 60px;
    background-color: rgba(0,0,0,0.8);
    margin-top: 40px;
    padding: 20px 0px 20px 40px;
    letter-spacing: 12px;
}
.page .title.transparent{
    background: none !important;
    color: #000000;
    padding-left: 40px;
    letter-spacing: 0px;
}
.page .title.vertical{
    text-align: center;
    z-index: 5;
    position: absolute;
    width: 1632px;
    top: 736px;
}
.page .title.right{
    transform: rotate(90deg);
    right: -726px;
}
.page .title.left{
    transform: rotate(-90deg);
    left: -715px;
}
.page .background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page-1 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.page-1 .header{
    position: absolute;
    width: 100%;
    border-top: 2px solid #c7c7c7;
    top: 80px;
    z-index: 2;
    font-size: 80%;
}
.page-1 .header .offering{
    background-color: #c7c7c7;
    color: #ffffff;
    display: inline-block;
    float: right;
    letter-spacing: 6px;
    padding: 20px 30px;
}
.page-1 .footer{
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.7), #ffffff);
    height: 290px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}
.page-1 .footer .headline{
    letter-spacing: 6px;
    font-size: 120%;
    text-align: center;
    padding: 60px 0px 30px 0px;
}
.page-1 .footer .subline{
    font-size: 90%;
    text-align: center;
}
.page-1 .footer .underline{
    border-top: 2px solid #000000;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0px;
    z-index: 2;

}
.page-2 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.sidebar{
    width: 25%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
}
.sidebar.right{
    border-left: 4px solid #ffffff;    
    right: 0px;
}
.sidebar.left{
    border-right: 4px solid #ffffff;    
    left: 0px;
}
.sidebar .header{
    margin-top: 160px;
    border-top: 2px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    font-size: 36px;
    line-height: 36px;
    background-color: #424242;
}
.sidebar .address-num{
    position: absolute;
    height: 240px;
    border-top: 4px solid #ffffff;
    width: 100%;
    font-size: 615%;
    padding-top: 0px;
    text-align: center;
    top: 80px;
    font-family: Ebrima;
}
.sidebar .address-str{
    position: absolute;
    width: 100%;
    font-size: 120%;
    text-align: center;
    top: 320px;
    height: 80px;
}
.sidebar .brand{
    border-bottom: 4px solid #ffffff;
    border-top: 4px solid #ffffff;
    top: 400px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    font-size: 36px;
    line-height: 36px;
    background-color: #424242;
}
.sidebar .logo{
    position: absolute;
    bottom: 260px;
    width: 100%;
    text-align: center
}
.sidebar .logo .name{
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 40px;
}
.side-img{
    width: 35%;
    position: absolute;
    right: 0px;
    height: 100%;
    z-index: 2;
    border-left: 2px solid #ffffff;
    top: 0px;
}
.page-3 .sidebar{
    width: 65%;
    height: 100%;
    position: absolute;
    left: 0px;
    background: 
        /* top, transparent red, faked with gradient */ 
        linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url(../../images/Untitled_03.jpg);
    color: #ffffff;
    background-size: cover;
}
.page-3 .sidebar .header{
    margin-top: 120px;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    width: 100%;
    padding: 30px 0px;
    letter-spacing: 6px;
    background: transparent;
}

.page-3 .sidebar .header .title{
    padding: 20px 0px;
}

.page-3 .sidebar .title{
    border-bottom: 4px solid #ffffff;
    border-top: 4px solid #ffffff;
    padding: 0px 0px;
    background-color: #424242;
    margin-top: 0px;
}
.page-3 .left-column{
    width: 55%;
    text-align: right;
    display: inline-block;
    padding-right: 40px;
    font-size: 130%;
}
.page-3 .toc-list{
    list-style: none;
    padding: 0px;
}
.page-3 .toc-list li{
    padding: 34px 0px;
}
.page-3 .toc-page-num{
    font-weight: bold;
    font-size: 170%;
}
.page-6 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.page-8 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.page-9 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.map-holder{
    height: 100%;
    width: 72%;
    white-space: nowrap;
    text-align: center;
    margin: 0em 0;
}
.map-holder.right{
    float: right;
}
.map-holder .helper {
    display: inline-block;
    height: 6%;
    vertical-align: middle;
}
.map-holder img{
    height: 90%;
    width: 90%;
    display:block;
    margin:auto;
    vertical-align: middle;
}
.sales-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 0px 40px;

}
.sales-items .item{
    width: 31%;
}
.sales-items .item .address{
    text-align: center
}
.sales-items .item img{
    width: 100%;
}
.sales-items .item ul{
    padding: 0px;
}
.sales-items .item ul li{
    line-height: 34px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 22px;
    list-style: none;
    font-size: 28px;
    padding-left: 20px;
}
.sales-items .item ul li:nth-child(odd){
    background-color: #c7c7c7;
}
.page-10 .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.page-11 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.comparables-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 0px 40px;
    height: 14.2in;
}
.comparables-items .item{
    width: 100%;
    height: 4.4in;
}
.comparables-items .address{
    margin-left: 500px;
    background-color: #c7c7c7;
}
.comparables-items .item img{
    max-height: 100%;
    float: left;
    max-width: 480px; 
}
.page-12 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.rent-rolls{
    width: 100%;
    padding: 40px 40px 0px 40px;
    border-spacing: 0;
}
.rent-rolls.bottom{
    position: absolute;
    bottom: 80px;
}
.rent-rolls th{
    min-width: 19%;
    text-align: left;
}
.rent-rolls tr:nth-child(odd){
    background-color: #c7c7c7;
}
.rent-rolls tr td{
    padding: 4px 20px 4px 20px;
    font-size: 22px;
    line-height: 26px;
}
.rent-rolls thead tr:nth-child(odd){
    background-color: transparent;;
}
.hint.small{
    padding-top: 30px;
    padding-left: 40px;
    font-size: 18px;
}
.page-14 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.page-15 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.image-upload{
    position: absolute;
    height: 240px;
    width: 240px;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -120px;
    border: 4px solid #000000;
    background-size: cover;
    background-color: #ffffff;
    font-size: 140px;
    line-height: 140px;
    text-align: center;
    border-radius: 30px;
}
.image-upload:hover{
    cursor: pointer;
    color: #4d9ee1;
}
.image-upload:focus{
    outline: none;
}
.img-inputer{
    display: none;
}

.financial-holder {
    width: 100%;
    overflow: hidden; /* add this to contain floated children */
    height: calc(100% - 140px);
    padding-top: 80px;
}
.financial-left{
    width: 50%;
    float:left;
    height: 100%;
}
.financial-right {
    width: 50%;
    float: left;
    height: 100%;
}

.financial-holder{
    font-size: 80%;   
}
.financial-holder table{
    width: 100%;
    border-spacing: 0;
}
.financial-holder table tr{
    line-height: 40px;
}
.financial-holder .table-title{
    border-bottom: 1px solid #000000;
    margin-right: 40px;
}
.financial-holder th{
    text-align: left
}
.financial-holder tr.highlighted{
    background-color: #c7c7c7;
}
.financial-holder th.first{
    min-width: 50%;
}
.financial-holder .overview{
    padding-left: 40px;
}
.financial-holder .details{
    padding-right: 40px;
}
.financial-holder table .devider{
    padding-bottom: 120px;
}
.rent-data{
    padding-top: 20px;
    margin-left: 500px;
}
.rent-data table{
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}
.rent-data table td{
    border-bottom: 2px solid #000000;
}
.rent-data .left{
    vertical-align: top;
    display: inline-block;
    width: 400px;
    font-weight: bold;
}
.item-list{
    font-weight: bold;
}
.item-list .data-right{
    font-weight: normal;
}
.rent-data .right{
    display: inline-block;
    width: 1120px;
}
.tnou{
    padding: 80px 0px 80px 40px;
    font-size: 80%;
    line-height: 40px;
}
.income-and-expenses{
    padding: 0px 40px;
    width: 100%;
    font-size: 80%;
    line-height: 40px;
    text-align: left;
    border-spacing: 0px;
}
.income-and-expenses th.font-normal{
    font-weight: normal;
}
.income-and-expenses tr.highlighted{
    background-color: #c7c7c7;
}
.income-and-expenses tr td {
    width: 33%;
}
.page-18 .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
}
.property-information{
    padding: 240px 40px 0px 40px;
    width: 65%;
    text-align: left;
    font-size: 120%;
    line-height: 80px;
}
.property-information .bold{
    font-weight: bold;
    padding-left: 80px;
}
.data-right{
    display: inline-block;
    float: right;
    margin-right: 30px;
}
#savePDFbutton{
    background-color: #4d9ee1;
    font-size: 40px;
    line-height: 80px;
    border: 4px solid #1b88e2;
    border-radius: 30px;
    padding: 0px 40px;
    cursor: pointer;
}
.title-absolute{
    position: absolute;
    top:20px;
    z-index: 5;
    width: calc(100% - 40px);
    left: 0px;
}